body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --purle: rgb(63, 34, 63);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: row;
}

.container {
  width: 75vw;
  margin: 30px 20px 20px 250px;
}

.header {
  border-bottom: 2px solid var(--purle);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-button {
  width: 100px;
  background-image: linear-gradient(to bottom right, rgba(175, 55, 175, 0.69), var(--purle));
  box-shadow: 0px 0px 8px gray;
  margin-right: 20px;
  transition: ease-in-out .4s;
}

.header-button:hover {
  background-image: linear-gradient(to bottom right, rgba(197, 26, 197, 0.696), var(--purle));
  box-shadow: 0px 0px 6px gray;
  transition: ease-in-out .4s;
}

.main {
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
}

textarea {
  height: 100px;
}

fieldset {
  margin-bottom: 10px;
}
