body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --purle: rgb(43, 30, 43);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: row;
}

.container {
  width: 75vw;
  margin: 30px 20px 20px 250px;
}

.header {
  border-bottom: 2px solid var(--purle);
}

.main {
  margin-top: 20px;
}
